input{
    outline: none;
    border: none;
    border-bottom: 1px solid;
}
input::placeholder{
    transition: all 0.2s;
}

input::placeholder:focus{
    transform: translateY(-50%,-50%);
    
}