.product{
    display: flex;
    flex-direction: column;
    align-items: center;
    max-height: 400px;
    min-width: 100px;
    margin: 10px;
    background-color:white;
    z-index: 1;
    padding: 10px;
    width: 100%;
    transition:all 0.25s  ease-out;
    
    
}

.product:hover{
    transform: translateY(-0.05rem);
    box-shadow: 3px 3px 1rem;
    cursor: pointer;
    border:0.5px solid skyblue

}
.product_info{
    /* height: 100px; */
    margin-bottom: 15px;
}
.product_price{
    margin-top: 5px;
}


.product_rating{
    display: flex;
}


.product > img{
    max-height: 200px;
    width: 100%;
    object-fit: contain;
    margin-bottom: 15px;

}

.product > button{
     background-color: #f0c14b;
     border: 1px solid #f0c14b;
     border-radius: 2px;
     
}

.product > button:hover{
    border: 2px solid lightblue ;
}
